<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Editar Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Película Editada:  <%= Movie.title %></h1>
    <section class="formulario">
        <form action="/movies/update/<%= Movie.id %>?_method=PUT" method="POST">
            <label for="title">Title </label>
            <p><input type="text" name="title" value="<%=locals.old ? old.title : Movie.title %>"></p>
            <% if(locals.errors && errors.title) {%>
                <span class="spanError"><%= errors.title.msg %></span> 
                <% } %> 
            <label for="rating">Rating </label>
            <p><input type="text" name="rating" value="<%=locals.old ? old.rating : Movie.rating %>"></p>
            <% if(locals.errors && errors.rating) {%>
                <span class="spanError"><%= errors.rating.msg %></span> 
                <% } %> 
            <label for="awards">Awards </label>
            <p><input type="text" name="awards" value="<%=locals.old ? old.awards : Movie.awards %>"></p>
            <% if(locals.errors && errors.awards) {%>
                <span class="spanError"><%= errors.awards.msg %></span> 
                <% } %> 
            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" value="<%=moment(Movie.release_date).format("YYYY-MM-DD") %>"></p>
            <% if(locals.errors && errors.release_date) {%>
                <span class="spanError"><%= errors.release_date.msg %></span> 
                <% } %> 
            <label for="length">Length </label>
            <p><input type="text" name="length" value="<%=locals.old ? old.length : Movie.length %>"></p>
            <% if(locals.errors && errors.length) {%>
                <span class="spanError"><%= errors.length.msg %></span> 
                <% } %> 
            <label for="genre_id">Genre</label>
            <p>
                <select name="genre_id">
                    <% allGenres.forEach(genre => { %>
                    <option value="<%= genre.id %>" <%= locals.old && genre.id == old.genre_id ? 'selected' : Movie.genre_id == genre.id && 'selected'%>><%= genre.name %></option>
                    <% }); %>
                </select>
            </p>
            <% if(locals.errors && errors.genre_id) {%>
                <span class="spanError"><%= errors.genre_id.msg %></span> 
                <% } %> 
            <br>
            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
</body>

</html>